@media screen and (max-width: 1599px) {

}
@media screen and (max-width: 1399px) {

}
@media screen and (max-width: 1299px) {

}
@media screen and (max-width: 1199px) {
    .contacts-content {
        padding-top: 75px;
    } 
    .logo-name {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
    }
    .logo-name-2 {
    	padding-left: 0px;
    }
    .header-contacts {
    	margin-right: 40px;
    }
    .main-slider-nav {
    	right: 30px;
    }
    .main-slider-nav-prev {
    	left: 30px;
    }
    .nav-link {
    	font-size: 16px;
    	line-height: 24px;
    	padding: 11px 10px;
    }
}
@media screen and (max-width: 1140px) {
    .consult-el {
    	margin-top: 14px;
    	font-size: 17px;
    }
    .consult-capt {
    	font-size: 22px;
    }
    .consult-desc {
    	font-size: 17px;
    	margin: 11px auto 63px;
    }
    .consult {
    	padding: 41px 36px 59px;
    }
}

@media screen and (max-width: 1120px) {
    .row {
    	padding: 0 15px;
    }
    .main-slider-wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 1080px) {
    .consult-el {
    	margin-top: 13px;
    	font-size: 16px;
    }
    .consult-capt {
    	font-size: 21px;
    }
    .consult-desc {
    	font-size: 16px;
    	margin: 11px auto 60px;
    }
    .consult {
    	padding: 39px 34px 56px;
    }
}
@media screen and (max-width: 991px) {
    .contacts-content {
        padding-right: 20px;
        padding-top: 30px;
    }
    .consult-el {
    	margin-top: 12px;
    }
    .consult-capt {
    	font-size: 20px;
    }
    .consult-desc {
	    font-size: 15px;
    	margin: 10px auto 56px;
    }
    .consult {
    	width: 100%;
    	padding: 36px 32px 52px;
    }
    .index-works-item {
        width: 50%;
    }
    .index-works-list {
        height: auto;
    	-ms-flex-wrap: wrap;
    	flex-wrap: wrap;
    }
    .index-works-item-block {
    	padding-bottom: 30px;
    }
    .shop-cart-link-total-wrapper {
        padding: 0;
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    .shop-cart-link-total {
    	font-size: 11px;
    	line-height: 20px;
    	width: 20px;
    	margin-right: 0;
    }
    .shop-cart-link-text {
        display: none;
    }
    .shop-cart-link {
        -webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	flex-direction: column;
    }
    .shop-cart-link img {
    	margin-right: 0;
    	margin-bottom: 4px;
    }
    .content-phone {
    	font-size: 14px;
    	line-height: 26px;
    }
    .logo-name-1 {
    	font-size: 11px;
    	line-height: 26px;
    }
    .top-menu-li,
    .nav-item {
        display: block;
        opacity: 1;
        margin-left: 0;
    }
    .burger {
        display: block;
    }
    .burger-wrapper {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 0;
         -ms-flex-positive: 0;
         flex-grow: 0;
    }
    .main-navigation-0 {
         -webkit-box-pack: justify;
         -ms-flex-pack: justify;
         justify-content: space-between;
         padding-left: 30px;
    }
    .main-navigation {
        display: none;
    }
    .main-navigation-0-ul {
        display: none;
    }
    .main-navigation-0-ul.active {
    	display: block;
    	opacity: 1;
    	-webkit-animation: fadeIn 0.3s linear;
    	-moz-animation: fadeIn 0.3s linear;
    	-o-animation: fadeIn 0.3s linear;
    	animation: fadeIn 0.3s linear;
    	z-index: 9999;
    	position: fixed;
    	left: 0;
    	width: 316px;
    	top: 0;
    	background: #fec3b1;
    	padding-left: 0;
    }
    .main-navigation-0 .top-menu-li {
    	display: block;
    }
    .main-navigation-0 .nav-item:not(.top-menu-li) {
    	display: block;
    }
    .main-navigation-0 .nav-link {
    	color: #000;
    	font-size: 16px;
    	width: 100%;
    	text-align: left;
    	padding-left: 30px;
    }
    .main-slider-wrapper-row {
        padding: 0;
    }
    .nav-link:hover, 
    .nav-link:focus, 
    .nav-link:active {
    	background-color: transparent;
    }
    .nav-close {
         display: block;
    }
    [data-search-block] .nav-close {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .consult {
    	background-image: none;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
     .contacts-content,
     .contacts-map {
         width: 100%;
         float: none;
     }
     .contacts-content {
         padding-bottom: 0;
     }
     .contacts-wrapper {
        margin-bottom: 40px;
    }
    .consult-designer-info,
    .consult-designer-phone,
    .consult-designer-contacts {
        width: 100%;
    }
    .consult-designer-phone,
    .consult-designer-contacts {
        text-align: center;
    }
    .consult-item {
    	width: 220px;
    	display: inline-block;
    	vertical-align: top;
    	margin-top: 20px;
    	text-align: left;
    	padding-left: 0;
    }
    .consult-el {
    	margin-top: 12px;
    }
    .consult-capt {
    	font-size: 18px;
    }
    .consult-desc {
    	font-size: 14px;
    	margin: 9px auto 53px;
    	width: 100%;
    }
    .consult {
    	background-image: none;
    	text-align: center;
    	padding: 34px 30px 49px;
    	margin: 50px auto;
    }
    .index-works-item {
        width: 100%;
    }
    .mygallery .mygallery_item .mygallery_item_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .mygallery .slick-arrow {
        display: none !important;
    }
    header,
    .main-navigation-0,
    .header-contacts-wrapper {
        background: #b71f34;
    }
    .logo-block {
    	padding: 20px 0;
    	 -webkit-box-pack: start;
         -ms-flex-pack: start;
         justify-content: start;
    }
    .header-contacts-wrapper {
    	padding: 0 0 0 30px;
    	-ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .header-contacts {
    	margin-right: 0px;
    	width: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        padding: 10px 0 20px;
    }
    .hidden-xs {
        display: none;
    }
    .main-navigation-0 {
        height: auto;
        padding: 15px 0 15px 30px;
    }

}
@media screen and (max-width: 599px) {
    .good-table,
    .good-table-row,
    .good-table-cell {
        display: block;
        overflow: auto;
    }
    .good-table {
        margin-bottom: 20px;
    }
    .good-table-cell {
        float: left;
        border: none;
    	outline: none;
    	min-height: 90px;
    }
    .good-table-row {
        padding-top: 20px;
        border-top: 1px dashed #000;
        margin-top: 20px;        
    }
    .good-table-row:last-child {
        border-bottom: 1px dashed #000;
        padding-bottom: 20px;
    }
    .good-table-row-head {
        display: none;
    }
    .good-table-cell-pic {
        width: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .good-table-cell-pic-img {
        width: auto;
        height: auto;
    }
    .good-table-cell-name {
        width: 70%;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
    }
    .good-table-cell-price {
        width: 33%;
        min-height: 20px;
    }
    .good-table-cell-price::before {
        content: 'Цена за 1 м.кв.: ';
    }
    .good-table-cell-amount {
        width: 33%;
        min-height: 20px;
    }
    .good-table-cell-amount::before {
        content: 'Количество (м.кв.): ';
    }
    .good-table-cell-del {
        width: 90px;
        min-height: 20px;
        float: right;
    }
    .shk-del {
        color: #000;
    }
    .shk-del::before {
        content: 'Удалить ';
        display: inline-block;
        vertical-align: middle;
    }
    .shk-del img {
        display: inline-block;
        vertical-align: middle;
    }

}
@media screen and (max-width: 575px) {
    .serch {
    	display: none;
    }
    .consult-el {
    	margin-top: 10px;
    }
    .consult-desc {
    	margin: 8px auto 46px;
    }
    .consult {
    	padding: 30px 26px 43px;
    }
    .hidden-xx {
        display: none;
    }
    .logo-block {
        width: 200px;
        -ms-flex-negative: 0;
         flex-shrink: 0;
    }
    .search-form {
        margin-right: 15px;
    }
}
@media screen and (max-width: 480px) {
    .contacts-content {
        padding: 30px 0 0 0;
    }
    .good-table-cell {
    	min-height: 20px;
    }
    .good-table-cell-price,
    .good-table-cell-amount,
    .good-table-cell-pic,
    .good-table-cell-name {
        width: 100%;
    }
    .good-table-cell-pic {
        margin-bottom: 15px;
    }
    .thumbox-mygallery {
    	font-size: 36px;
    	line-height: 39px;
    }
    .hidden-xe {
        display: none;
    }
    .visible-xe {
        display: block;
    }

    .header-contacts {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content-phone {
    	font-size: 20px;
    	line-height: 32px;
    	margin-bottom: 10px;
	    display: block;
    }
    .main-navigation-0 {
         -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .logo-block {
        padding-bottom: 0;
    }
    .header-contacts-wrapper {
        -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
    }
    .search-mobile-pic {
        margin-left: auto;
        margin-top: 15px;
        cursor: pointer;
        display: block;
    }
    [data-search-block] {
        display: none;
        opacity: 0;
        z-index: 9999;
    	position: fixed;
    	left: 0;
    	width: 316px;
    	max-width: 100%;
    	top: 0;
    	background: #b71f34;
    	padding: 20px 60px 20px 20px;
    }
    [data-search-block].active {
    	display: block;
    	opacity: 1;
    	-webkit-animation: fadeIn 0.3s linear;
    	-moz-animation: fadeIn 0.3s linear;
    	-o-animation: fadeIn 0.3s linear;
    	animation: fadeIn 0.3s linear;
    }
    [data-search-block] .nav-close {
        display: block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .search-form {
    	margin-right: 0;
    }
    
}
@media screen and (max-width: 380px) {
    .consult-desc {
        margin: 7px auto 39px;
    }
    .consult-el {
    	margin-top: 9px;
    }
    .consult {
    	padding: 25px 22px 36px;
    }
}

