/* Две колонки */
.row .cols h2 {
	color: #F24841;
	font-size: 26px;
	font-weight: bold;
}

.row .cols p {
	margin-bottom: 5px;
}

.row .cols ul {
	margin-bottom: 20px;
	padding: 0px 5px 0px 25px;
}

.row .cols ul li{
	line-height: 1.5;
	list-style-position: inside;
}


.row .cols ol {
	margin-bottom: 20px;
	list-style-type: none;
	padding-left: 45px;

}

.row .cols ol li{
	list-style-type: circle;
	line-height: 1.5;
}

.row .cols span {
	font-family: "OpenSans-Bold", Arial, sans-serif;
}

.row .cols span.block {
	font-size: 16px;
	display: block;
	margin-bottom: 7px;
}

.cols-top {
	margin-bottom: 40px;
}

.cols-top .images_top img{
	width: 100%;
	height: auto;
}



.cols {
	font-size: 16px;
	font-family: "OpenSans", Arial, sans-serif;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.cols .images-2 {
	justify-content: space-between;
	display: flex;
}

.cols .images-2 img {
	width: 49%;
	height: auto;
}

.cols .images-3 {
	justify-content: space-between;
	display: flex;
}

.cols .images-3 img {
	width: 32%;
	height: auto;
}

.cols .left {
	width: 49%;
}

.cols .right {
	width: 49%;
}

.cols .images {
	margin-bottom: 30px;
}

@media (max-width: 768px) {
	
	.cols {
		flex-wrap: wrap;
	}

	.cols-top {
		flex-direction: column-reverse;
	}

	.cols .left {
	width: 100%;
	}

	.cols .right {
	width: 100%;
	}
}


/* Оплата и доставка */

.pay h1 {
	margin-bottom: 30px;
}

.pay h2 {
    color: #f24841;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    /* margin-bottom: 15px; */
    padding: 30px 0px 10px 0px;
}

/*
.pay h2 {
	color: #f24841;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
}
*/

.pay h3 {
	font-size: 22px;
    font-family: "OpenSans-Bold", Arial, sans-serif;
    text-align: left;
    /*margin: 15px 0;*/
    padding: 30px 0px 10px 0px;
}

.pay ul li {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: 400;
}

/* Мобильная версия header */
@media (max-width: 1000px) {

	.header-bg .logo-head-box .logo-head {
		width: 165px;
	}

	.header-text .boldtxt {
		font-size: 20px;
	}
	
	.header-bg .header-text .mail-top {
		font-size: 15px;
	}

	.cart {
		width: 150px;
	}

	.cart .shop-cart p{
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.serch {
		visibility: hidden;
		align-items: center;
		justify-content: space-around;
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 70px;
		top: -70px;
		left: 0;
		opacity: 0;
		transition: all 0.27s ease-in-out;
	}

	.serch.active {
		top: 0;
		opacity: 1;
		visibility: visible;
		display: flex;
		transition: all 0.27s ease-in-out;
	}

	.search-form__item {
		width: 420px;
		height: 35px;
		font-size: 16px;
	}

	.search-form__btn {
		height: 36px;
	}

	.header-bg .mobile-serch-icon {
		display: block;
	}

	.header-bg .cross {
		display: block;
		position: absolute;
		top: 24px;
		right: 20px;
		width: 20px;
	}

	.serch:after {
		content: '';
		position: fixed;
		background: rgba(58,63,68,0.8);
    	top: -100%;
    	left: 0;
    	width: 100%; 
    	height: 100%;
    	z-index: -1;
	}
	
	.serch.active:after {
		top: 0;
	}

}


@media (max-width: 600px) {
	
	.header-bg .row {
		flex-wrap: wrap;
	}

	.middle {
		order: 2;
		width: 50%;
		text-align: left;
	}
	
	.header-text {
		order: 1;
		width: 50%;
		align-self: end;
	}
	
	.header-text.serch {
		width: 100%;
	}

	.search-form__item {
    	width: 285px;
	}

	.cart p {
		width: 150px;
		margin: 0 0 0 auto;
	}

	.mobile-serch-icon {
		order: 3;
		width: 50%;
		padding: 0 0 0 37%;
	}

	.header-logo-box {
		width: 50%;
	}
}

@media (max-width: 480px) {
		
	.header-bg .header-logo-box {
		width: 50%;
		margin: 0 0;
		text-align: left;
	}	

	.header-text .boldtxt {
    	font-size: 16px;
	}

	.header-bg .header-text .mail-top {
   		font-size: 13px;
	}

	.mobile-serch-icon {
		padding: 0 0 0 30%;
	}

	.search-form__item {
    	width: 175px;
	}

	/*.header-text {
		
	}

	.middle p {
		
	}
	
	
	.cart {
		
	}*/


}

.chose-criteries {
	overflow: hidden;	
}

/* Затемнение  city-modal*/

.city-modal {
	background: rgba(255,255,255,0.8);
}

/* Верстка галлереи брендов */


.mygallery .mygallery_item .mygallery_item_container {
    padding: 015px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mygallery .slick-next {
    top: 50%;
    right: -35px;
}

.mygallery .slick-next:before {
    font-size: 35px;
    color: #ccc;
}

.mygallery .slick-prev {
    top: 50%;
    left: -35px;
}

.mygallery .slick-prev:before {
    font-size: 35px;
    color: #ccc;
}

@media (max-width: 800px) {
    .mygallery {
        width: 95%;
        margin: 0 auto;
    }
}



@media (max-width: 1130px) {
    .selection-of-coating-bg .thumbox-min {
        font-size: 38px;
    }
}

@media (max-width: 1000px) {
    .selection-of-coating-bg .thumbox-min {
        font-size: 36px;
    }
}

@media (max-width: 960px) {
    .selection-of-coating-bg .thumbox-min {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    
    .selection-of-coating-bg .getpromo-box {
        width: 80%;
    }
}




