﻿@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
	font-family: "OpenSans";
	src: url("OpenSans.eot") format("embedded-opentype"),
	url("OpenSans.woff") format("woff"),
	url("OpenSans.ttf")  format('truetype'),
	url("OpenSans.svg") format("svg");
	/*font-weight: 400;*/
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("OpenSans-Bold.eot") format("embedded-opentype"),
	url("OpenSans-Bold.woff") format("woff"),
	url("OpenSans-Bold.ttf")  format("truetype"),
	url("OpenSans-Bold.svg") format("svg");
	/*font-weight: 700;*/
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-CondensedBold";
	src: url("") format("embedded-opentype"),  
	url("") format("woff"),
	url("")  format("truetype"),
	url("") format("svg");
	/*font-weight: 700;*/
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-Light";
	src: url("OpenSans-Light.eot") format("embedded-opentype"),
	url("OpenSans-Light.woff") format("woff"),
	url("OpenSans-Light.ttf")  format("truetype"),
	url("OpenSans-Light.svg") format("svg");
	/*font-weight: 300;*/
	font-style: normal;
}

@font-face {
	font-family: "Arial Black";
	src: url("Arial-Black.eot") format("embedded-opentype"),
	url("Arial-Black.woff") format("woff"),
	url("Arial-Black.ttf")  format("truetype"),
	url("Arial-Black.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("Montserrat-Bold.eot") format("embedded-opentype"),
	url("Montserrat-Bold.woff") format("woff"),
	url("Montserrat-Bold.ttf")  format("truetype"),
	url("Montserrat-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*-- Icon Fonts --*/

@font-face {
	font-family: "Glyphicons Halflings";
	src: url("");
	src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), 
	url("glyphicons-halflings-regular.woff2") format("woff2"), 
	url("glyphicons-halflings-regular.woff") format("woff"), 
	url("glyphicons-halflings-regular.ttf") format("truetype"), 
	url("glyphicons-halflings-regular.svg") format("svg");
}

.glyphicon {
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;
	line-height: 21px;
}

html,
body {
	height: 100%;
	min-width: 100%;
	background-color: #ffffff;
}


.wrapper {
	/*
	display: table; 
	height: 100%;
	min-width: 100%;
	*/
}

.content {
	position: relative;
	/*
	display: table-row;
	height: 100%;
	min-width: 100%;
	*/
}

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

h1 {
	color: #f24841;
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: left;
	padding: 0 0 15px 0px;
}

h2 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 300;
	text-align: center;
	padding: 20px 0px 10px 0px;
}

h3 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	padding: 20px 0px 5px 0px;

}
h4 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size:18px;
	line-height: 18px;
	font-weight: 300;
	padding: 20px 0px 5px 0px;

}

li {
	list-style: none;
	margin-left:25px;
}

a {
	text-decoration: none;
	color:#AD1B30;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
	max-width: 1170px;
	margin: 0 auto;
	padding: 20px 0px 5px 0px;
}

*:focus {
	outline: none;
}

select::-ms-expand {
	display: none;
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-bg {
	display: block;
	width: 100%;
	font-size: 0;
	line-height: 0;
	background: rgba(255, 255, 255, 1);
	padding: 3px 0;
	//    position: fixed;
	//    top: 0;
	//    left: 0;
	z-index: 999;
	border: 1px solid #ebebeb;
}

.header-bg .cross {
	display: none;
}

.header-col {
	display: inline-block;
	vertical-align: middle;
}

.header-logo-box {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	line-height: 0;
	width: 40%;
}


.logo-head-box {
	display: inline-block;
	vertical-align: middle;

	padding: 0 3% 0 0;
}

.logo-head {
	width: 77px;
	height: auto;
}

.logo-txt {
	display: inline-block;
	vertical-align: middle;
	width: 76%;
}

.logo-txt h2 {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
	padding: 0;
}

.logo-txt h1 {
	color: #f24841;
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: left;
	padding: 0;
}

.header-text{
	/*width: 19% !important;*/
}

.middle {
	text-align: center;
	/* width: 20%; */ 
}

.middle h2 {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	padding: 0;
}

.header-text .boldtxt {
	font-size: 24px;
}

.middle .boldtxt {
	font-family: "OpenSans-Bold", Arial, sans-serif;
}

.cart {
	text-align: center;
	width: 175px;
}
.cart h2 {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	padding: 0;
}
.cart .boldtxt {
	font-family: "OpenSans-Bold", Arial, sans-serif;
}

.header-contacts {
	text-align: right;
	width: 25%;
}
/*
.header-contacts a {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;

	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: color;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: color;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease;

}

.header-contacts a:link,
.header-contacts a:visited {
	color: #202020;
}

.header-contacts a:hover {
	color: #4194f2;
}

.header-contacts a:active {
	color: #4194f2;
}
*/
.glyphicon-earphone:before {
	content: "\e182";
}

.phone-icon {
	display: none;
}

.scroll-to-top {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: fixed;
	bottom: 1%;
	right: 1%;
	width: 30px;
	height: 30px;
	opacity: .7;
	color: #f24841;
	font-size: 30px;
	line-height: 30px;
	z-index: 9999;
}

.scroll-to-top:before {
	content: "\e027";
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/* ----- Promoblock ------ */

.screenone {
	padding: 70px 0 40px 0;
	background-image: url("");
	background-size: cover;
	background-position: center;
	min-height: 646px;
}

.scrone-head {
	width: 100%;
	text-align: center;
}

.screenone h2 {
	color: #e1e1e1;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 55px;
	line-height: 60px;
	font-weight: 300;
}

.screenone h2 span {
	color: #f24841;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 55px;
	line-height: 60px;
	font-weight: 300;
}

.arrow-list {
	width: 149px;
	height: 232px;
	position: absolute;
	top: -41%;
	left: -19%;
}

.srconesect {
	text-align: center;
	padding: 50px 0;
}

.list-box {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	position: relative;
	width: 36%;
}

.brace-list {
	width: 34px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 5%;
}

.list-box li {
	list-style-image: url("");
	color: #e1e1e1;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 20px;
	line-height: 35px;
}

.submit-form-box {
	display: inline-block;
	vertical-align: middle;
	width: 33.33%;
	text-align: center;
}

.submit-form {
	width: 70%;
	height: 295px;
	position: relative;
}

.submit-form form {
	z-index: 3;
	position: relative;
	margin: 0 0 0 28%;
	padding: 13% 0 0 3%;
	width: 100%;
}

.form-bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	z-index: 1;
}

.submit-form h2 {
	color: #e1e1e1;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
}

.submit-form .promo-code {
	color: #f0c61e;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	padding: 0 0 10px 0;
}

.submit-form-box input {
	display: block;
	width: 100%;
	color: #9f9f9f;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding: 12px;
	margin: 10px 0;
}

.submit-form-box button {
	width: 100%;
	cursor: pointer;
	background-color: rgba(240, 198, 30, 1);
	padding: 11px;
	color: #ffffff;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	border: none;
	margin: 10px 0;

	-webkit-transition-property: background-color color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background-color color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background-color color;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background-color color;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.submit-form-box button:link,
.submit-form-box button:visited {
	background-color: rgba(240, 198, 30, 1); 
}

.submit-form-box button:hover,
.submit-form-box button:active {
	background-color: rgba(242, 72, 65, 1);
}

.to-shop-link {
	text-align: center;
}

.to-shop {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	z-index: 3;
}

.to-shop p {
	color: #e1e1e1;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.to-shop-arrows {
	display: inline-block;
	vertical-align: top;
	margin: 20px 0 0 0;
}

.down-arrow {
	height: 10px;
}

.glyphicon-menu-down {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: #dc473f;
	font-size: 21px;
	line-height: 12px;
}

.glyphicon-menu-down:before {
	content: "\e259";
}

.glyphicon-menu-up:before {
	content: "\e260";
}


.bottom-arrows {
	font-size: 28px;
	line-height: 28px;
}


/* ----- Выбор товара  и навигация ------ */

.screen-two {
	/*background: url(img/screentwobg.jpg);*/
	padding: 0 0 15px 0;
	background: #b71f34;
}

.main-navigation {
	display: block;
	width: 100%;
	height: auto;
	background: #ffc3b1;
	text-align: center;
	position: relative;
	padding: 15px;
	top: 0;
	left: 0;
	z-index: 999;
}
.nav-item {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	margin-left: -4px;
}
.nav-item:first-child {
	margin-left: 0;
}

.nav-link {
	display: inline-block;
	vertical-align: top;
	color: #000;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding: 11px 12px;
	font-weight: 400;

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
	background-color: #c8263d; 
	color: #fff;
	-webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
/*
.nav-link:link,
.nav-link:visited {
	background-color: transparent; 
}
*/

/* ----- Выбор товара по критериям ------ */

.chose-criteries {
	font-size: 0;
	line-height: 0;
	padding: 15px 0;
}

.hovercriteries {
	overflow: hidden;
	width: 100%;
	height: auto;
}

.criteries {
	height: auto;
}

.select-range {
	display: inline-block;
	vertical-align: middle;
}

.slider-price {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	padding: 0 8% 0 0;
}

.slider-range-head {
	display: inline-block;
	vertical-align: middle;
	width: 12%;
	color: #e1e1e1;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	padding: 0 2% 0 0;
}

.slider-range {
	display: inline-block;
	vertical-align: middle;
	width: 88%;
}

#sl {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.slider {
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 1);
}

.knob {
	position: relative;
	top: -7px;
	background-color: rgba(240, 198, 30, 1);
	cursor: pointer;
	width: 4px;
	height: 14px;
}

.slider-range-box {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.select-range-box {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
}

.select-range-box .select-range {
	width: 100%;
}

.slider-range-val-box {
	display: inline-block;
	vertical-align: middle;
	width: 29%;
	position: relative;
	padding: 0 0 0 4%;
}

.slider-range-val {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 1px;
	width: 85px;
	border: none;
	/*background-color: rgba(0, 0, 0, 1);*/
	color: #000;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	padding: 0 0 0 3%;
	/*background-color: #bc2037;*/
}

.left-triangle {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 10px solid rgba(0, 0, 0, 1);
	border-bottom: 12px solid transparent;
	position: absolute;
	top: 13px;
	left: 15px;
}

.chbox-box {
	display: inline-block;
	vertical-align: middle;
	width: 16.66%;
	padding: 10px 0 10px 12px;
}

.chbox-box label {
	display: inline-block;
	vertical-align: middle;
	color: #e1e1e1;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400px;
	padding: 0 0 0 25px;
}

.chbox-box input {
	opacity: .001;
	margin: 0 -25px 0 0;
}

.chbox-box input + label {
	display: inline-block;
	vertical-align: middle;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: 0 -2px;
}

.chbox-box input:checked + label {
	background-position: 0 -31px;
}

.show-more {
	width: 100%;
	padding: 15px 0 0 0;
	text-align: center;
}

.show-more-link {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
}

.show-more-link .glyphicon {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 16px;
	line-height: 12px;
	font-weight: 400;
}

.show-more-link span {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 12px;
	font-weight: 400;
	padding: 0 5px;
}




/* ----- Thumbs ------ */

.screenthree {
	padding: 0 0;
}

#catalog {
	position: relative;
}

.clubpromoright {
	position: absolute;
	top: 272px;
	right: -340px;
	z-index: 99;
	width: 720px;
	text-align: center;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	z-index: 99;
}

.clubpromoright .club {
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	margin: 0 2%;
	padding: 8px 20px;
	background-image: url("");
	background-repeat: repeat;
	border: none;
	display: none !important;
}

.clubpromoright .promocode {
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	margin: 0 2%;
	padding: 8px 20px;    
	background-image: url("");
	background-repeat: repeat;
	border: none;
}


.goods-thumbs {
	font-size: 0;
	line-height: 0;
	padding: 0 0 50px 0;
	background: rgba(255, 255, 255, 1);
}

.good-thumb {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 2% 1.5%;
	min-width: 251px;
}

.good-texture {
	overflow: hidden;
	position: relative;
	margin: 0 0 13px 0;
	height: 180px;
}

.texture-photo {
	display: block;
	width: auto;
	height: 100%;
}

.texture-links {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.basket {
	float: left;
	color: #ffffff;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	background-color: rgba(242, 72, 65, 1);
	padding: 2% 5%;
	cursor: pointer;

	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background-color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background-color;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background-color;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.basket:link,
.basket:visited {
	background-color: rgba(242, 72, 65, 1);
}

.basket:hover,
.basket:active {
	background-color: rgba(245, 89, 83, 1);
}

.order {
	float: right;
	color: #272727;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	background-color: rgba(240, 198, 30, 1);
	padding: 2% 5%;

	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background-color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background-color;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background-color;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.order:link,
.order:visited {
	background-color: rgba(240, 198, 30, 1);
}

.order:hover,
.order:active {
	background-color: rgba(244, 205, 58, 1);
}

.texture-name-en {    
	color: #343434;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.texture-name-ru {    
	color: #343434;
	font-family: "OpenSans", Arial, sans-serif !important;
	font-size: 14px !important;
	line-height: 20px !important;
	font-weight: 400 !important;
	text-align: center;
}
.row p.price,
.price {
	color: rgba(242, 72, 65, 1);
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
}

.price-valute {
	color: #f24841;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	margin: 0 0 0 2%;
}

.pagination {
	text-align: center;
}

.pagination li {
	display: inline-block;
	vertical-align: middle;
}

.pagination .control{
	width: 100%;
	display: flex;
	justify-content:center;
	margin-bottom: 2rem;
}
.pagination .control a{
	display: flex;
	width: 200px;
	border-radius:0;
	background-color: #F55953;
	color: #fff;
	justify-content:center;
	align-items:center;
	height: 35px;
}

.pagination li a {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 2%;
	color: #000;
	background-color: #dbdbdb;
}


.pagination li .active {
	color: #fff;
	background-color: #f24841;
} 


/*-------------------------------------------*/
/* ----- Страница товара ------ */
/*-------------------------------------------*/

.fortab {
	position: relative;
}

.promoleft {
	z-index: 99;
	text-align: left;
	position: absolute;
	top: 30%;
	left: -68px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.promoleft a {
	display: block;
	min-width: 180px;
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	padding: 10px 20px;
	text-align: center;
	background-image: url("");
	background-size: 100%;
	background-repeat: repeat;
	background-position: center;
}


.good-card {
	font-size: 0;
	line-height: 0;
	padding: 35px 0;
}

.good-slider {
	display: inline-block;
	vertical-align: top;
	width: 53%;
	padding: 0 4% 0 0;
}


.wood-texture-image {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	height: 395px;
	padding: 0 2.5px 0 5px;
	position: relative;
}

.wood-texture-image img {
	display: block;
	width: 100%;
	height: auto;
}

.show-prew {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: #ffffff;
	font-size: 35px;
	line-height: 35px;
	position: absolute;
	top: 7%;
	right: 4%;

	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: color;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: color;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.show-prew:hover {
	color: #ebebeb;
}

.glyphicon-search:before {
	content: "\e003";
}

.show-prew-box {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 9999;
}

.show-prew-box img {
	width: 50%;
	height: auto;
}

.miniatures {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 0;
}

.good-card .miniatures li {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	height: 89px;
	overflow: hidden;
	margin: 5px 0;
	padding: 0 5px;
	text-align: center;
}

.good-card .miniatures li img {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	width: 100%;
	height: auto;
}

.good-order {
	display: inline-block;
	vertical-align: top;
	width: 47%;
}

.goodorer-h-main {
	color: #202020;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 36px;
	line-height: 38px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	padding: 0;
}

.goodorer-head {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: 300;
	text-align: left;
	padding: 0;
}

.price-sq {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 40px;
	font-weight: 300;
	padding: 10px 0;
}

.valute {
	display: inline-block;
	vertical-align: baseline;
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	position: relative;
	top: -10px;
	left: 1px;
}

.slash {
	color: #de4c44;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
}

.foronesq {
	display: inline-block;
	vertical-align: baseline;
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	padding: 0 0 0 2px;
}

.sq {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 11px;
	line-height: 24px;
	font-weight: 300;
	position: relative;
	top: -5px;
	left: 1px;
}

.exist {
	color: rgba(239, 34, 25, 1);
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	padding: 0 0 0 4%;
}

.promoservice-box {
	padding: 10px 0;
}

.promoservice {
	display: inline-block;
	vertical-align: middle;
	width: 44%;
}

.promoservice h3 {
	color: #979797;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.chbox-order-box {
	color: #979797;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.chbox-order-box input {
	display: inline-block;
	vertical-align: middle;
	opacity: .001;
	margin: 0 -16px 0 0;
	width: 11px;
	height: 11px;
}

.chbox-order-box label {
	display: inline-block;
	vertical-align: middle;
	color: #979797;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	padding: 0 0 0 20px;
}

.chbox-order-box input + label {
	display: inline-block;
	vertical-align: middle;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: 0 1px;
}

.chbox-order-box input:checked + label {
	background-position: 0 -23px;
}

.promocode {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	border: 1px solid #dddddd;
	padding: 0 1%;
}

.count-msq {
	padding: 10px 0;
}

.count-msq p {
	display: inline-block;
	vertical-align: middle;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.count-msq p span {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 10px;
	line-height: 24px;
	font-weight: 400;
	position: relative;
	top: -4px;
}

.countmsq-num {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	border: 1px solid #dddddd;
	margin: 0 0 0 1.5%;
	padding: 0 1%;
}

.total-price-box p {
	color: #979797;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 31px;
	font-weight: 400;
}

.good-order .total-price {
	color: #202020;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.total-price-box .valute {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	position: relative;
	top: -14px;
	left: 5px;
}

.order-btn-box {
	padding: 10px 0;
}

.buy-btn-box {
	display: inline-block;
	vertical-align: middle;
	width: 36%;
}

/*============================*/
.main_page_content{
	margin: 40px 0 50px 0;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}
.main_page_content p{
	text-indent: 20px;
	text-align: justify;
	margin-bottom: 15px;
}
.main_page_content p:last-of-type{
	margin-bottom: 0;
}

.main_page_content ul li{
	list-style-type:circle;
	color: #000;
	font-weight: normal;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
}
/* Вот отсюда пришлось поменять немного стилей так как удалил кнопки и сделал ссылками  */



.buy-btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	width: 75%;
	text-align: center;
	text-transform: uppercase;
	background: rgba(242, 72, 65, 1);
	border: none;
	color: #ffffff;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	margin: 5px 0 0 0;
	padding: 26px 0;

	-webkit-transition-property: background;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.buy-btn:link,
.buy-btn:visited {
	background: rgba(242, 72, 65, 1);
}

.buy-btn:hover,
.buy-btn:active {
	background: rgba(239, 34, 25, 1);
}

.right-btn {
	display: inline-block;
	vertical-align: top;
}

.master-btn {               /* В этом классе */
	display: inline-block;
	vertical-align: top;
	color: #202020;
	cursor: pointer;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	border: none;
	background: rgba(159, 198, 97, 1);
	margin: 5px 0 7px 0;
	padding: 5px 20px;
	text-transform: uppercase;

	-webkit-transition-property: background;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.master-btn:link,
.master-btn:visited {
	background: #ffc3b1;
}

.master-btn:hover,
.master-btn:active {
	background: rgba(239, 34, 25, 1);
}




.sample-btn {                /* В этом классе */
	display: inline-block;
	vertical-align: top;
	color: #202020;
	cursor: pointer;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	border: none;
	background: rgba(240, 198, 30, 1);
	margin: 5px 0 7px 0;
	padding: 5px 20px;
	text-transform: uppercase;

	-webkit-transition-property: background;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}


/* до сюда */

.sample-btn:link,
.sample-btn:visited {
	background: rgba(240, 198, 30, 1);
}

.sample-btn:hover,
.sample-btn:active {
	background: rgba(252, 210, 43, 1);
}

.free-delivery {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}


.formmodal {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.modal-bg {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

.modal-data {
	display: block;
	position: absolute;
	top: 15%;
	left: 50%;
	width: 540px;
	height: auto;
	margin-left: -170px;
	padding: 10px;
	background: rgba(255, 255, 255, 1);
	z-index: 100;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.modal-data span {
	color: #f24841;
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: left;
	padding: 0;
}

.modal-data .texture-photo { float:left; width: 260px; }
.modal-data .ajax_form { float: right; width: 240px; }

.closemodal-btn {
	display: block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: -15px;
	right: -15px;
	background: rgba(0, 0, 0, .5);
	color: #cdcdcd;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #000000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.name {
	display: block;
	width: 98%;
	min-height: 27px;
	padding: 2% 1%;
	margin: 4% auto;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.tel {
	display: block;
	width: 98%;
	min-height: 27px;
	padding: 2% 1%;
	margin: 4% auto;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.email {
	display: block;
	width: 98%;
	min-height: 27px;
	padding: 2% 1%;
	margin: 4% auto;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.modal-btn {
	display: block;
	width: 45%;
	margin: 6% auto 4% auto;
	padding: 2% 3%;
	color: #ffffff;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	background-color: rgba(242, 72, 65, 1);
	text-transform: uppercase;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background-color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background-color;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background-color;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}


.modal-btn:link,
.modal-btn:visited {
	background-color: rgba(242, 72, 65, 1);
}

.modal-btn:hover,
.modal-btn:active {
	background-color: rgba(245, 89, 83, 1);
}








.tab {
	display: block;
}

.tab-screen {
	padding: 35px 0 0 0;
}

.tabs-links {
	font-size: 0;
	line-height: 0;
	border-bottom: 1px solid #e7e7e7;
}

.tablink-item {
	display: inline-block;
	vertical-align: bottom;
	width: auto;
}

.tab-link {
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
	cursor: pointer;
	color: #202020;
	text-transform: uppercase;
	text-align: center;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin: 0 0 -1px 0;
	padding: 10px 30px;
}

.tablink-item .active-tab {
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 2px solid #ffffff;
}

.tabs-coontent {
	padding: 30px 0;
}

.tabs-content h2 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 300;
	text-align: center;
	padding: 50px 0;
}

.red-boldh {
	color: #f24841;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
}

.red-boldtxt {
	color: #f24841;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
}

.competitors-box {
	background: rgba(243, 246, 237, 1);
	border: 3px dotted #9fc661;
	margin: 0 0 60px 0;
	padding: 25px 30px;
	font-size: 0;
	line-height: 0;
}

.competitors-txt {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 31px;
	font-weight: 400;
}

.competitors-list {
	display: inline-block;
	vertical-align: top;
	width: 55%;
	padding: 0 0 0 15%;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}

.competitor-item {
	display: table;
	width: 100%;
	color: #f24841;
	list-style-type: decimal;
}

.competitor-num {
	display: table-cell;
	color: #f24841;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	padding: 0 5px 0 0;
}

.competitor-site {
	display: table-cell;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}

.middle-cell {
	display: table-cell;
	border-bottom: 2px dashed #d1d1d1;
	width: 100%;
	position: relative;
	top: -9px;
}

.competitor-price {
	display: table-cell;
	width: 85px;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
}

.competitor-price span {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	position: relative;
	top: -9px;
	left: 5px;
}

.black-boldtxt {
	color: #202020;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
}

.advdescript {
	display: block;
	width: 65%;
	margin: 0 auto;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
}


.advantages {
	font-size: 0;
	line-height: 0;
	text-align: center;
	padding: 20px 0;
}

.advantage-thumb {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 25px 0;
	text-align: center;
}

.advantage-icon {
	display: block;
	width: 125px;
	height: 125px;
	margin: 0 auto;
	background-image: url("");
	background-size: 100%;
	background-position: center -40px;
}

.advantage-txt {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	margin: 20px auto;
	padding: 0 18%;
}


.free-styling {
	background-position: center -40px;
}

.free-froze {
	background-position: center -247px;
}

.free-delivery {
	background-position: center -447px;
}

.free-lift {
	background-position: center -671px;
}

.free-design {
	background-position: center -889px;
}

.warranty {
	background-position: center -1090px;
}

.best-price {
	background-position: center -1294px;
}



/*-- Форма отправки заказа --*/

.promocode-bg {
	background-image: url("");
	background-size: cover;
	background-position: center;
	padding: 70px 0;
	font-size: 0;
	line-height: 0;
}

.promocode-bg h4 {
	display: inline-block;
	vertical-align: middle;
	width: 51%;
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
}

.redtxt {
	color: #f24841;
}

.promocode-bg .getpromo-box {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
	text-align: right;
}

.getpromo-box input {
	width: 46%;
	border: none;
	margin: 0 0 0 4%;
	padding: 0 2%;
	color: #333333;
	font-size: 18px;
	line-height: 50px;
	min-height: 50px;
}

.getpromo-box button {
	width: 46%;
	margin: 0 0 0 4%;
	padding: 2%;
	border: none;
	background: rgba(240, 198, 30, 1);
	cursor: pointer;
	color: #ffffff;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 17px;
	min-height: 50px;
	font-weight: 700;
	text-transform: uppercase;

	-webkit-transition-property: background;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.getpromo-box button:hover {
	background: rgba(242, 62, 75, 1);
}


/*--  --*/

.thumbs-sect {
	text-align: center;
	padding: 50px 0;
}

.thumbswhen-box {
	font-size: 0;
	line-height: 0;
}


.thumbs-sect h2 {
	padding: 20px 0;
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 300;
	text-align: center;
}

.thumbswhen-box .thumb {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	margin: 50px 0;
	padding: 0 1%;
}

.thumb-image-box {
	overflow: hidden;    
	min-height: 220px;
	max-height: 260px;
}

.thumb-image-box img {
	display: block;
	width: 100%;
	height: auto;
}

.thumbswhentxt {
	margin: 35px 0 0 0;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}


/*--  --*/

.freeservice-sect {
	background-image: url("");
	background-size: cover;
	background-position: center;
	padding: 40px 0;
	position: relative;
}

.freeservice-sect:before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
}

.freeservice-sect .row {
	position: relative;
	z-index: 3;
}

.freeservice-sect h2 {
	color: #ffffff;
	padding: 30px 0;
}

.freeservice-sect h3 {
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
	padding: 0 0 30px 0;
}

.yellow-boldtxt {
	color: #f0c61e;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
}

.getpromocode {
	width: 100%;
	text-align: center;
	font-size: 0;
	line-height: 0;
	padding: 10px 0;
}

.getpromocode input {
	display: inline-block;
	vertical-align: top;
	width: 26%;
	border: none;
	margin: 2% 1%;
	padding: 0 2%;
	color: #333333;
	font-size: 18px;
	line-height: 50px;
	min-height: 50px;
}

.getpromocode button {
	display: inline-block;
	vertical-align: top;
	width: 26%;
	margin: 2% 1%;
	padding: 1% 2%;
	border: none;
	background: rgba(240, 198, 30, 1);
	cursor: pointer;
	color: #ffffff;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 17px;
	min-height: 50px;
	font-weight: 700;
	text-transform: uppercase;

	-webkit-transition-property: background;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;

	-moz-transition-property: background;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;

	-ms-transition-property: background;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease;

	-o-transition-property: background;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;

	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.getpromocode button:hover {
	background: rgba(242, 62, 75, 1);
}

.but {
	color: #ffffff;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	padding: 40px 0;
}

.but .red-boldtxt {
	color: #f24841;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.freeplinth {
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
	padding: 0 0 20px 0;
}

.yellow-boldtxt {
	color: #f0c61e;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.freeservice-thumbs {
	font-size: 0;
	line-height: 0;
	padding: 10px 0;
}

.freeservice-thumbs .thumb {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 10px 0;
}

.freeservice-thumbs .thumb-icon {
	display: block;
	vertical-align: top;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-image: url("");
	background-repeat: no-repeat;
}

.freeservice-thumbs .free-delivery {
	background-position: -15px 0;
}

.freeservice-thumbs .free-froze {
	background-position: -314px 0;
}

.freeservice-thumbs .warranty {
	background-position: -613px 0;
}

.freeservice-thumbs .best-price {
	background-position: -913px 0;
}

.thumbtxt {
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 19px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}

.about-company {
	padding: 70px 0;
}

.about-company h2 {
	padding: 1% 14% 3% 14%;
}

.video {
	text-align: center;
	padding: 20px 0;
	width: 70%;
	margin: 0 auto;
	width: 48%;
}

.testimonials h2 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 300;
	text-align: center;
	padding: 30px 0;
}

.testimonials-thumbs {
	font-size: 0;
	line-height: 0;
	padding: 20px 0;
}

.testimonial-box {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	height: 230px;
	margin: 1% 0;
	padding: 0 1%;
}

.testimonial {
	width: 100%;
	height: 100%;
	background: rgba(224, 224, 224, 1);
}

.getpromo-sect {
	padding: 50px 0;
}

.getpromo-box {
	display: block;
	font-size: 0;
	line-height: 0;
	width: 84%;
	margin: 20px auto;
	text-align: left;
}

.getpromo-box h4 {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
}

.getpromo {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	text-align: right;
}

.getpromo input {
	border: 1px solid #dddddd;
	width: 44%;
}

.getpromo button {
	width: 44%;
}

.getpromo-sect h3 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 38px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
	padding: 30px 0;
}



/*--  --*/


.director {
	padding: 30px 0;
}

.director h2 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
	text-align: center;
	padding: 2px 0;
}

.director .director-name {
	color: #202020;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
}

.directorphoto-box {
	text-align: center;
	font-size: 0;
	line-height: 0;
	padding: 40px 0;
}

.directorphoto-box .middle-col {
	display: inline-block;
	vertical-align: middle;
	width: 28%;
}

.directorphoto {
	display: block;
	overflow: hidden;
	width: 175px;
	height: 175px;
	margin: 0 auto;
	background: rgba(224, 224, 224, 1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.directorphoto img {
	display: block;
	width: 100%;
	height: 100%;
}

.signature-box {
	display: inline-block;
	vertical-align: middle;
	width: 26%;
	text-align: left;
}

.signature {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}


.signature p {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

.social-links {
	text-align: center;
	font-size: 0;
	line-height: 0;
	padding: 0;
}

.social-links li {
	display: inline-block;
	vertical-align: top;
	width: 13%;
}

.social-link {
	display: inline-block;
	vertical-align: top;
	height: 50px;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: 0px 0;
}

.social-links .vk {
	width: 78px;
	background-position: -8px 0;
}

.social-links .fb {
	width: 49px;
	background-position: -152px 0;
}

.teldirector-box {
	padding: 55px 0;
	text-align: center;
}

.telnumh {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

.telnum-link {
	color: #202020;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
}


.vk-testimonials {
	display: block;
	width: 660px;
	margin: 0 auto;
}

/*-- Мы рекомендуем. Аккордеон --*/

.recomendation {
	background-image: url("");
	background-repeat: repeat;
	padding: 70px 0;
	position: relative;
}


.participateright {
	display: inline-block;
	vertical-align: top;
	min-width: 285px;
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	padding: 10px 20px;
	text-align: center;
	background-image: url("");
	background-size: 100%;
	background-repeat: repeat;
	background-position: center;
	z-index: 99;
	position: absolute;
	top: 34.5 %;
	right: -119px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}




.accordeon {
	padding: 60px 0;
}

.accordeon ul {
	padding: 0;
}

.show-btn-box {
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	text-align: right;
}

.show-btn {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	cursor: pointer;
	color: #a7c51d;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
}

.glyphicon-plus:before {
	content: "\002b";
}

.glyphicon-minus:before {
	content: "\2212";
}

.accordeon-list li {
	font-size: 0;
	line-height: 0;
	border-left: 3px solid #a7c51d;
	-webkit-border-radius:63px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	list-style: none;
	margin: 10px 0;
	padding: 20px 30px 22px 30px;
	background: rgba(255, 255, 255, 1);
}

.accordeon-item h3 {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
}

.hoverblock {
	height: 0px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}

.accordeoncontent {
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.accordeoncontent h1 {
	color: #202020;
	font-size: 30px;
	line-height: 30px;
}

.designersthumbs {
	font-style: 0;
	line-height: 0;
	padding: 10px 0;
}

.designer-thumb {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding: 2%;
	text-align: center;
}

.thumb-photo {
	display: block;
	overflow: hidden;
	width: 160px;
	height: 160px;
	margin: 10px auto;
	background: rgba(242, 242, 242, 1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.designer-thumb h3 {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;

}

.designer-thumb p {
	color: #787878;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.hoverblock button {
	display: block;
	width: 14%;
	padding: 1%;
	border: none;
	background: rgba(229, 229, 229 ,1);
	margin: 5px auto;
	cursor: pointer;
	color: #b4b4b4;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}


/*-- Статьи --*/

.articlescreen {
	padding: 30px 0;
}

.article {
	padding: 10px 0 30px 0;
}

.article h2 {
	padding: 10px 0 20px 0;
}

.article p {
	padding: 20px 0;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
}
ul {
	padding-left: 17px;
	margin-left: 0;
}

ul li {
	/*color: #a7c51d;
	font-family: "OpenSans-Bold", Arial, sans-serif;*/
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	/*font-weight: 700;*/
	color: #202020;
	list-style-type: decimal;
}

ul li span {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
}



.participate {
	background-image: url("");
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 50px 0;
}

.participate:before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .7);
}

.participate .row {
	position: relative;
	z-index: 3;
}

.participate h2 {
	color: #ffffff;
	padding: 20px 0;
}

.participatestep-tumbs {
	font-size: 0;
	line-height: 0;
	width: 100%;
	text-align: center;
	padding: 25px 0;
}

.step-thumb {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	text-align: center;
	margin: 5% -5%;
}

.stepnum {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	color: #a7c51d;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 72px;
	line-height: 90px;
	font-weight: 700;
	text-align: center;
	border: 3px solid #a7c51d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.step-thumb p {
	color: #ffffff;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 30px;
	line-height: 40px;
	font-weight: 300;
}

.stepline-box {
	display: inline-block;
	vertical-align: top;
	width: 37%;
}

.stepline {
	display: block;
	width: 100%;
	height: auto;
	margin: 70px 0 0 0;
}

.participatetxt {
	color: #ffffff;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	padding: 20px 0;
}

.participate .getpromocode {
	padding: 30px 0;
}



/*--  Blog  --*/

.blog {
	padding: 70px 0;
}

.blog-left-col h2, 
.blog-right-col h2 {
	color: #202020;
	font-family: "OpenSans-Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 300;
	text-align: left;
	padding: 0 0 60px 0;
}

.blog-left-col {
	float: left;
	width: 65%;
	margin: 40px 0 0 0;
	padding: 0 4% 0 0;
}

.blog-right-col {
	float: right;
	width: 35%;
	margin: 40px 0 0 0;
}

.blog-left,
.blog-right {
	padding: 0 0 50px 0;
}

.blog-left {
	border-right: 1px solid #dddddd;
	padding: 0px 10% 0 0;
}

.blog img {
	display: block;
	width: 100%;
	height: auto;
	padding: 0 0 20px 0;
}

.blog h3 {
	color: #202020;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	padding: 10px 0;
}

.blog p {
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	padding: 10px 0;
}

.faq-list ul {
	padding: 0;
}

.faq-list li {
	list-style: none;
	color: #202020;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	padding: 0 0 25px 0;
}

.faq-list li span {
	color: #a7c51d;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
}

.criteries .ui-slider { margin: 10px 25px 10px 25px;  }
.criteries .ui-state-default,
.criteries .ui-widget-content .ui-state-default,
.criteries .ui-widget-header .ui-state-default { border: 2px solid #b1afaf;    background: #7b6a6a;    color: #000000;}
.criteries .ui-widget-header {
	border: 1px solid #fff;
	background: #fff/* url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x*/;
	color: #ffffff;
	font-weight: bold;}


	.row table {}
	.row table tr {}
	.row table th { text-align: left; border: 1px dashed #dfdfdf; padding: 2px 7px 2px 7px; }
	.row table td { text-align: left; border: 1px dashed #dfdfdf; padding: 2px 7px 2px 7px; }

	.shopOrderForm { 
	    float: left;
	    max-width: 500px;
        width: 100%;
	}

	.shopOrderForm select{
		display: block;
		width: 98%;
		min-height: 14px;
		padding: 5px;
		margin: 5px 0px;
		color: #202020;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 14px;
		line-height: 15px;
		border: 1px solid #dfdfdf;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;

	}

	.orderform {
		display: block;
		width: 98%;
		min-height: 14px;
		padding: 5px;
		margin: 5px 0px;
		color: #202020;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 14px;
		line-height: 15px;
		border: 1px solid #dfdfdf;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}

	.basket { border: none;}
	.error { color: red; border: 1px solid red;}


	.option {
		display: block;
		width: 98%;
		min-height: 15px;
		padding: 3px;
		margin: 4% auto;
		color: #202020;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 14px;
		line-height: 14px;
		border: 1px solid #dfdfdf;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}

	.select-option {
		display: inline-block;
		vertical-align: middle;
		width: 48%;
		padding: 0 8% 0 0;
	}

	.select-option-head {
		display: inline-block;
		vertical-align: middle;
		width: 40%;
		color: #e1e1e1;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 14px;
		line-height: 16px;
		font-weight: 400;
		padding: 0 2% 0 0;
	}

	.select-option-range {
		display: inline-block;
		vertical-align: middle;
		width: 60%;
	}

	.city{
		display: block;
		vertical-align: middle;
		/* width: 50%;*/   
		color: #202020;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		border: 1px solid #dddddd;
		padding: 0 1%;
		margin: 0 auto;
	}

	#vk_comments,
	#vk_comments iframe{
		width: 100% !important;
	}


	.contact h2{
		font-size: 21px;
		text-align: left;
		line-height: 30px;
		padding: 15px 0 0 0 ;
	}

	.contact .contact-phone{
		font-size: 18px;
		line-height: 30px;
		padding: 0 0 10px 0;
	}

	.contact .photo{
		width: 50%;
		max-width: 550px;
		float: left;
		padding: 0 15px 0 0;
	}

	.contact .photo img{
		width: 100%;
	}

	.contact .map{
		width: 50%;
		max-width: 550px;
		float: right;
		padding: 0 15px 0 0;
	}

	.clear{
		clear: both;
	}

	.dropdown {

	}


	.dropdown dd,
	.dropdown dt {
		margin: 0px;
		padding: 0px;
	}

	.dropdown ul {
		margin: -1px 0 0 0;
	}

	.dropdown dd {
		position: relative;
	}

	.dropdown a,
	.dropdown a:visited {
		color: #000;
		text-decoration: none;
		outline: none;
		font-size: 14px;
	}

	.dropdown dt a {
		display: block;
		width: 98%;
		min-height: 28px;
		padding: 5px;
		margin: 4% auto;
		color: #000;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 14px;
		line-height: 14px;
		border: 1px solid #dfdfdf;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		box-sizing: border-box;

		overflow: hidden;
		background-color: #fff;

/*
background-color: #4F6877;
display: block;
padding: 8px 20px 5px 10px;
min-height: 25px;
line-height: 24px;
border: 0;
width: 100%;
*/
}

.dropdown dt a span,
.multiSel span {
	cursor: pointer;
	display: inline-block;
	padding: 0 3px 2px 0;
}

.dropdown dd ul {
	background-color: #fff;

	border: 1px solid #666;
	//  color: #fff;
	display: none;
	left: 3px;
	padding: 2px 15px 2px 5px;
	position: absolute;
	top: -10px;
	width: 98%;
	list-style: none;
	max-height: 160px;
	overflow: auto;
	z-index:3;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li{
	font-size: 13px;
	color: #000;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	line-height: 15px;
}

.dropdown dd ul li a {

	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	//  background-color: #fff;
}

.filter_row.unactive{
	color: #666 !important;
}

.dropdown .unactive{
	display: none !important;
}


.title-label{
	position: absolute;
	left: 0px;
	font-size: 21px;
	color: #c1272d;
}

.city-block{
	position: relative;
	width: 20%;
	float: left;
	padding: 5px 0 ;
	padding-left: 25px;
}

.city-block a{
	color: #000;
}

.city-block a:hover{
	text-decoration: underline;
}


.city-active{
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid #757575;
	padding: 5px 15px;
	color: #000;
	cursor: pointer;
	position: relative;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
}

.map.active{
	display: block!important;
}  

@media only screen and (max-width: 940px) {
	.city-block{
		width: 50%;
	}  
}

.hab_tag-list{
	margin-bottom: 50px;
	margin-top: 50px;
}
.hab_tag-list .item{
	display: inline-block !important;
	width: auto;
}  
.hab_tag-list .item .item-list{
	text-align: center;
	padding: 5px;
	margin-top: 10px;
	border: none;
}

.hab_tag-list .item .item-list a{
	display: inline-block;
	color: #000 !important;
	padding: 10px 20px;
	border: 1px solid #f24841;
	width: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	margin: 0 10px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}

.hab_tag-list .item .item-list a:hover{
	color: #000 !important;
	background-color: #ffc3b1;
}

.search-form__item{
	height: 30px;
	width: 160px;
	border: 1px solid rgba(242, 72, 65, 1);
	padding-left: 10px;
}

.search-form__btn{
	height: 30px;
	background-color: rgba(242, 72, 65, 1);
	border: none;
	border-radius: 0;
	padding: 0 7px;
	color: #fff;
	border: 1px solid rgba(242, 72, 65, 1);
}
.search-form__btn:hover{
	cursor: pointer;
}

.header-bg .row{
	display:  flex;
	align-items: center;
	justify-content: space-between;
}

.header-bg .header-logo-box{
	width: auto;
}

.header-bg .header-logo-box .logo-head{
	width: 265px;
}

.header-bg .header-text .mail-top{
	font-size: 18px;
	color: #000;
	line-height: 24px;
}

.header-bg .shop-cart img {
	    margin: 7px 3px 0px 20px;
}

.header-bg .mobile-serch-icon {
	display: none;
}
.header-bg .mobile-serch-icon svg {
	width: 20px;
	height: 20px;
	margin: 0 20px;
	cursor: pointer;
}
.header-inner {
    padding-top: 0;
}

/* kmetr-56.ru */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.footer {
	background: #b10b31;
	padding: 5px 0;
	padding-bottom: 20px;
	/*background: #000;*/
	/*background: transparent url("img/footer-bg.jpg") repeat;*/
}
.footer a {
	font-size: 16px;
	text-decoration: none;
	color: #f2f2f2;
}
.footer a:outline, .footer a:active {
	color: #f2f2f2;
}
.footer__title {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}
.footer ul {
	margin: 0;
	padding: 0;
}
.footer ul li {
	list-style: none;
}
.footer ul li a {
	font-size: 16px;
	text-decoration: none;
	color: #f2f2f2;
}
.footer ul li a:outline, .footer ul li a:active {
	color: #f2f2f2;
}
.footer .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 15px;
	padding-right: 15px;
}
.footer-menu, .footer-messen, .footer-social, .footer-adress {
	margin-top: 20px;
}
.adress {
	margin-top: 20px;
}
.footer-menu {
	width: 25%;
}
@media (max-width: 1050px) {
	.footer-menu {
		width: 33%;
	}
}
@media (max-width: 767px) {
	.footer-menu {
		width: 50%;
	}
}
@media (max-width: 460px) {
	.footer-menu {
		width: 100%;
	}
}
.footer-messen {
	width: 50%;
	float: left;
}
@media (max-width: 1050px) {
	.footer-messen {
		width: 100%;
	}
}
.footer-messen ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer-messen ul li {
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 0;
}
.footer-messen__link {
	display: inline-block;
	height: 40px;
	width: 40px;
	border: 2px solid #f2f2f2;
	text-align: center;
	border-radius: 2px;
}
.footer-messen__link i {
	font-size: 24px;
	color: #f2f2f2;
	line-height: 40px;
	font-weight: normal;
}
.footer-messen__link:hover {
	background-color: #f2f2f2;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.footer-messen__link:hover i {
	color: #000;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.footer-social {
	width: 50%;
	float: left;
}
@media (max-width: 1050px) {
	.footer-social {
		width: 100%;
	}
}
.footer-links {
    width: 50%;
}
@media (max-width: 1050px) {
	.footer-links {
		width: 33%;
	}
}
@media (max-width: 767px) {
	.footer-links {
		width: 50%;
	}
}
@media (max-width: 460px) {
	.footer-links {
		width: 100%;
	}
}
.footer-adress {
	width: 25%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
@media (max-width: 1050px) {
	.footer-adress {
		width: 33%;
	}
}
@media (max-width: 767px) {
	.footer-adress {
		width: 100%;
	}
}
.footer-adress span {
	color: #f2f2f2;
}
.footer-adress .phone {
	font-size: 22px;
	font-weight: bold;
}
.footer .copyright {
	width: 100%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
/*	padding-top: 20px;*/
	color:#fff;
}
.footer .copyright span {
	display: inline-block;
	color: #fff;
	font-size: 14px;
}

.footer .copyright p{
    color: #fff;
}
.footer .copyright a {
	display: inline-block;
	font-size: 14px;
}

.footer .copyright a:hover{
    border-bottom: 1px solid #fff;
}

.footer .oplata {
	padding: 10px 0;
}
.footer .oplata .row {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer .oplata .item {
	margin: 0 5px;
}
.footer .oplata .item i {
	color: #808080;
	font-size: 30px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.footer .oplata .item i:hover {
	color: #f2f2f2;
}

/* kmetr-56.ru end */

.contact {
	max-width: 1024px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.contact-maps{
	margin-bottom: 40px;
}
.contact__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
.contact__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.contact__info-item {
	padding-right: 40px;
	margin-bottom: 20px;
	width: 33%;
	min-width: 180px;
}
.contact .contact-info__title {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}
.contact .contact-info__desc {
	font-size: 16px;
	font-weight: 400;
}
.contact .contact-info__desc a {
	text-decoration: none;
	color: #000;
}
/* kmetr-56.ru end */
.contactOgrn__name {
	font-size: 1.6rem;
	font-weight: bold;
}

.contact {
	max-width: 1024px;
}
.contact__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
.contact__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.contact__info-item {
	padding-right: 40px;
	margin-bottom: 20px;
	width: 33%;
	min-width: 180px;
}
.contact .contact-info__title {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}
.contact .contact-info__desc {
	font-size: 16px;
	font-weight: 400;
}
.contact .contact-info__desc a {
	text-decoration: none;
	color: #000;
}

/* kmetr - О компании Page */
.aboutUs{
	margin-bottom: 50px;
}
.aboutUs__text h1 {
	font-size: 26px;
	font-weight: bold;
	text-align: left;
}
.aboutUs__text h2 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}
.aboutUs__text p {
	font-size: 16px;
}
.aboutUs-text__entry {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.aboutUs-text {
	width: 50%;
}
.aboutUs__image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.aboutUs__image .aboutUs-image__item {
	width: 30%;
	height: 340px;
	margin-bottom: 20px;
	overflow: hidden;
}
.aboutUs__image .aboutUs-image__item img {
	max-width: 100%;
}
@media (max-width: 767px) {
	.aboutUs__image .aboutUs-image__item {
		width: 100%;
		height: auto;
	}
}

.services{
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}
.services-item{
	height: 200px;
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.services-itemCnt{
	padding: 20px;
	width: 33.333333%;
}

@media(max-width: 991px) {
	.services-itemCnt{
		width: 100%;
	}
}
.services-item_title{
	text-align: center;
}
.services-item_title a{
	font-size: 20px;
	text-transform: uppercase;
	color: #f24841;
	transition: all 0.4s ease;
}
.services-item_title a:hover{
	font-weight: bold;
}

/* City modal */
.modal-data{
	box-shadow: 0px 0px 10px #ccc;
}
.city-modal{
	z-index: 99999;
}
.city-modal .city-yes-btn{
	display: inline-block;
	width: 60px;
	height: auto;
	position: relative;
	top: unset;
	right: unset;
	background: rgb(242,72,65);
	color: #ffffff;
	border: none;
	border-radius: 0;
	margin-right: 10px;
	font-size: 13px;
	text-align: center;
}

.city-modal .city-no-btn{
	display: inline-block;
	width: 60px;
	height: auto;
	line-height: 25px;
	text-align: center;
	background: rgb(242,72,65);
	color: #ffffff;
}

.flooring {
	margin-top: 30px;
}

.flooring h2 {
	font-size: 32px;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	text-align: left;
}

.flooring h3 {
	font-size: 22px;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	text-align: left;
	margin: 15px 0;
}

.flooring ol li{
	list-style: circle;
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: normal;
}

.flooring ul li{
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: normal;
	color: #202020;
}

.flooring .one {
	float: right;
	width: 400px;
	height: 250px;

}

.flooring .two {
	float: left;
	width: 400px;
	height: 250px;
	padding: 10px;
	padding-right: 30px;
}

.flooring .three {
	width: 400px;
	height: 250px;
	float: right;
	padding: 10px;
}

.flooring .header {
	width: 400px;
	height: 250px;
	margin-top: 25px;
	color: #f24841;
}

.flooring table {
	overflow-x: auto;
}

@media(max-width: 767px){
	.flooring .one{
		float: none;
		width: auto;
		max-width: 100%;
		height: auto;
	}
	.flooring .two {
		float: none;
		width: auto;
		max-width: 100%;
		height: auto;
	}
	.flooring .three {
		float: none;
		width: auto;
		max-width: 100%;
		height: auto;
	}
	.flooring h2{
		font-size: 22px;
	}
}

.blog {
	padding: 0;
	margin-bottom: 20px;
}

.blog h2{
	padding-bottom: 20px;
}


/* Кнопка "смотреть больше" */
.products_row{
	text-align: center;
}
.products_more{
	display: inline-block;
	height: 40px;
	padding: 0 30px;
	line-height: 40px;
	font-size: 14px;
	background: rgba(242, 72, 65, 1);
	color: #fff;
}

/*
.row p{
	font-size: 16px;
	line-height: 24px;
}
*/

.row p {
    font-size: 16px;
    line-height: 24px;
    color: #202020;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}


.goodorer-h-main{
	margin-top: 15px;
}
.thumbox-mygallery {
    padding: 20px 0;
    color: #202020;
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
}
.wrapper {
    overflow: auto;
    position: relative;
}
.row-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.contacts-content{
    padding: 75px 20px 40px 30px;
    width: 50%;
    float: left;
    background-color:#F8F8F8;
}
.contacts-map {
    width: 50%;
    float: left;
    height: 392px;
    overflow: hidden;
}
.contacts-caption {
	font-size: 18px;
	line-height: 26px;
	color: #151515;
}
.contacts-text {
	font-size: 16px;
	line-height: 26px;
	color: #151515;
	margin-bottom: 45px;
}
.contacts-wrapper {
    margin-bottom: 100px;
}
.good-table {
    display: table;
    width: 100%;
    min-height: 100%;
    height: 100%;
}
.good-table-row {
    display: table-row;
}
.good-table-cell {
    display: table-cell;
    vertical-align: middle;
    border: 2px dashed #dfdfdf;
    outline: 1px solid #fff;
    padding: 2px 7px;
    min-height: 80px;
    
}
.good-table-row-head .good-table-cell-pic {
    width: 10%;
}
.good-table-row-head .good-table-cell-name {
    width: 30%;
}
.good-table-row-head .good-table-cell-price {
    width: 25%;
}
.good-table-row-head .good-table-cell-amount {
    width: 25%;
}
.good-table-row-head .good-table-cell-del {
    width: 10%;
}
.good-table-cell-pic-img {
    height: 70px;
    display: block;
}
.consult .wrapper {
    margin-right: -15px;
    margin-left: -55px;
}
.consult {
	position: relative;
	z-index: 1;
	padding: 45px 40px 65px;
	margin: 100px auto;
	max-width: 1140px;
	background: #F8F8F8;
	background-image: url("");
	background-position: top left;
	background-repeat: no-repeat;
	border-radius: 3px;
	text-align: center;
}
.consult-capt {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.consult-desc {
	width: 80%;
	margin: 12px auto 70px;
	text-align: center;
	font-size: 18px;
}
.consult-designer-info {
    float: left;
    width: 25%;
}
.consult-designer-phone {
    float: left;
    width: 33.33333333333333%;
    text-align: left;
}
.consult-designer-contacts {
    float: left;
    width: 41.66666666666667%;
    text-align: left;
}
.consult-img {
	margin-bottom: 10px;
	padding: 0;
	width: 124px;
	height: 124px;
	border-radius: 124px;
}
.consult-name {
	font-weight: bold;
}
.consult-item {
	font-weight: bold;
	color: #000;
}
.consult-el {
	display: block;
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	transition-property: opacity;
	transition-duration: 0.3s;
}
.consult-el:hover {
	opacity: 0.7;
	color: #000000;
	transition-property: opacity;
	transition-duration: 0.3s;
}
.consult-write {
	position: relative;
	padding-left: 39px;
	padding-bottom: 6px;
}
.consult-mail::before {
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
	content: url("");
}
.consult-wp::before {
	display: block;
	position: absolute;
	top: 2px;
	left: 0px;
	content: url("");
}
.consult-vb::before {
	display: block;
	position: absolute;
	top: 2px;
	left: 0px;
	content: url("");
}
.index-works-list {
	height: 800px;
	max-width: 1920px;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.index-works-item {
    width: 33.33333333%;
	float: left;
	position: relative;
}
.index-works-item-block {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 30px 30px 60px;
	z-index: 1;
}
.index-works-item-caption {
	font-weight: 500;
	font-size: 30px;
	line-height: 32px;
	color: #FFFFFF;
	width: 100%;
}
.index-team-link-inner-arrow {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: rgba(0, 0, 0, 0.4) url("") center no-repeat;
	z-index: 1;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	margin-bottom: 30px;
}
.index-works-item-block::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
	content: '';
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	z-index: -1;
}
.index-works-item-block::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f24841;
	opacity: 0;
	content: '';
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	z-index: -1;
}
.index-works-item-block:hover::before, 
.index-works-item-block:focus::before {
	opacity: 1;
}
.thumbox-mygallery-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
@keyframes fadeIn {
    from {
        display: block;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        display: block;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        display: block;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main-slider-wrapper-row {
    position: relative;
}
.main-slider {
    opacity: 0;
}
.main-slider.ready {
	opacity: 1;
	/*
	-webkit-animation: fadeIn .5s linear;
	-moz-animation: fadeIn .5s linear;
	-o-animation: fadeIn .5s linear;
	animation: fadeIn .5s linear;
	*/
}
.main-slider-nav {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: rgba(0, 0, 0, 0.4) url("") center no-repeat;
	z-index: 1;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	position: absolute;
	top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}
.main-slider-nav-prev {
    right: auto;
    left: 15px;
	-webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);

}
.main-slider-wrapper::before {
    content: '';
    background: #ffc3b1;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    position: absolute;
}
header {
    background: #c8263d;
    position: relative;
    z-index: 9;
}
header::before {
	background: #ad1b30;
	height: 90px;
    width: 50%;
    left: 50%;
    top: 0;
    position: absolute;
    z-index: -1;
    content: '';
}
.logo-block {
    background: #b71f34;
    padding: 20px;
     -webkit-box-pack: start;
     -ms-flex-pack: start;
     justify-content: start;
     text-decoration: none;
}
.logo-name-1 {
	color: #b71f34;
	background: #ffded5;
	padding: 0px 6px;
	white-space: nowrap;
	font-size: 14px;
	line-height: 32px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.logo-name-2 {
    color: #ffdfd6;
    padding-left: 12px;
    font-size: 14px;
    line-height: 16px;
}
.main-navigation-0 {
    background: #ad1b30;
    height: 90px;
}
.main-navigation-0 .nav-link {
    color: #fff;
    font-size: 14px;
}
.top-menu-li {
    display: none;
}
.main-navigation-0 .nav-item:not(.top-menu-li) {
    display: none;
}
.main-navigation-0 .top-menu-li {
    display: inline-block;
}
.header-contacts-wrapper {
    background: #c8263d;
    padding: 35px 48px 40px;
}
.search-input {
    background: url("search-pic.png") no-repeat center left 10px #fff;
    padding-left: 46px;
    padding-right: 10px;
    height: 36px;
    width: 100%;
    max-width: 240px;
    -webkit-box-shadow: inset -4px 4px 15px 1px rgba(50, 50, 50, 0.33);
    -moz-box-shadow:    inset -4px 4px 15px 1px rgba(50, 50, 50, 0.33);
    box-shadow:         inset -4px 4px 15px 1px rgba(50, 50, 50, 0.33);
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.search-input::-webkit-input-placeholder {
    font-style: italic;
}
.search-input::-moz-placeholder {
    font-style: italic;
}
.search-input:-moz-placeholder {
    font-style: italic;
}
.search-input:-ms-input-placeholder {
    font-style: italic;
}
.search-input-submit {
    position: absolute;
    background: url("search-pic.png") no-repeat center center;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    
    opacity: 0;
}
.search-form-new {
    position: relative;
}
.content-phone {
	font-family: "Montserrat-Bold", serif, Arial;
	font-size: 20px;
	line-height: 30px;
	/*color: #ffc3b1;*/
	color: #ffffff;
}
.header-contacts {
    color: #fff;
    width: auto;
    text-align: left;
    margin-right: 60px;
    font-size: 15px;
}
.header-contacts-caption {
    /*color: #f1c6bd;*/
    color: #ffffff;
}
.cart-new {
    margin-left: auto;
}
.shop-cart-link {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    position: relative;
}
.shop-cart-link img {
    width: 40px;
    height: auto;
    margin-right: 14px;
}
.shop-cart-link-total-wrapper {
    overflow: hidden;
    line-height: 41px;
    font-size: 26px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #000;
    padding-right: 22px;
    background: #ffc3b1;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.shop-cart-link-total {
    background: #000;
    text-align: center;
    color: #ffc3b1;
    font-size: 23px;
    line-height: 45px;
    width: 45px;
    margin-right: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -ms-flex-negative: 0;
	flex-shrink: 0;
}
.shop-cart-link-text {
    padding-bottom: 4px;
    -ms-flex-negative: 0;
	flex-shrink: 0;
}
.burger {
	/*
	position: absolute;
	top: 50%;
	right: 0;
	*/
	display: none;
	width: 34px;
	cursor: pointer;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}
.top-burger-line {
	display: block;
	width: 100%;
	height: 4px;
	margin-bottom: 7px;
	background: #ffc3b1;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.top-burger-line:last-of-type {
	margin-bottom: 0;
}
.top-burger.active {
	z-index: 99;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.wrapper-dark.active {
    display: block;
    opacity: 1;
    -webkit-animation: fadeIn 0.3s linear;
    -moz-animation: fadeIn 0.3s linear;
    -o-animation: fadeIn 0.3s linear;
    animation: fadeIn 0.3s linear;
}
.wrapper-dark {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(27, 49, 90, .7);
    opacity: 0;
    overflow: auto;
}
.burger-wrapper {
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
}
.nav-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: url("close.svg") no-repeat center/cover;
    display: none;
    cursor: pointer;
}
.search-mobile-pic {
    display: none;
}




/*
* Mods
*/
.z-index-1 {
    z-index: 1;
}
.left-text {
    text-align: left;
}
img {
    max-width: 100%;
}
.bg-white {
    background: #fff;
}
.nowrap,
a[href^="tel"] {
    white-space: nowrap;
}
.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flex-grow-1_2 {
	-webkit-box-flex: 1.2;
	-ms-flex-positive: 1.2;
	flex-grow: 1.2;
}
.flex-grow-0_8 {
	-webkit-box-flex: .8;
	-ms-flex-positive: .8;
	flex-grow: .8;
}
.flex-grow-1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.flex-shrink-0 {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.relative {
	position: relative;
}
.align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.visible-xe {
    display: none;
}

p.color_w {
    color: #fff;
}


.select-option-head p {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
}



/*Форма*/

.selection-of-coating-bg {
    background-image: url("");
    background-size: cover;
    background-position: center;
    padding: 70px 0;
    font-size: 0;
    line-height: 0;
    margin-bottom: 50px;
}

.selection-of-coating-bg .row {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0px 30px 0px;
    text-align: center;
}

.selection-of-coating-bg p {
    color: #202020;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.selection-of-coating-bg .thumbox-min {
    display: inline-block;
    width: 40%;
    color: #c62941;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 41px;
    line-height: 50px;
    font-weight: 600;
    text-align: left;
}

.selection-of-coating-bg .thumbox-min span {
    color: #000;
}

.selection-of-coating-bg .getpromo-box {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 39%;
    margin: 20px auto;
    background: #fff;
    padding: 55px;
}

input#phone2 {
    width: 94%;
    border: none;
    margin: 4%;
    padding: 0 2%;
    color: #333333;
    font-size: 18px;
    line-height: 50px;
    min-height: 50px;
    display: block;
    background-color: #e9e9e9;
    text-align: center;
}

#processing input {
    margin: 9px 0px 0px 9px;
    width: 25px;
    min-height: 0px;
    display: inline-block;
}

#processing p {
    display: inline;
    font-size: 13px;
}



.selection-of-coating-bg .getpromo-box button {
    width: 94%;
    margin: 4%;
    padding: 2%;
    border: none;
    background: rgb(198 41 65);
    cursor: pointer;
    color: #ffffff;
    font-family: "OpenSans-Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 17px;
    min-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: background;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: background;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    display: block;
    text-transform: inherit;
}
.a-footer a{
    font-size:12px !important;
}
.bld{
    font-weight:bold;
    color:#B10B31;
}